<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">
<header>
  <%- include('../partials/header'); %>
</header>
<main>
  <div class="jumbotron">
    <h1>C'est super </h1>
    <p>Bienvenue à la page d'accueil </p>
    <h2>Stock</h2>
    

  </div>
</main>
<footer>
  <%- include('../partials/footer'); %>
</footer>
</body>
</html>
